* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

::-webkit-scrollbar {
    width: .5rem;
    background-color:white;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #25c251;
    border-radius: 5px;
}
li {
    list-style: none;
}

/* img, */
span,
button,
ion-icon {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

/* img {
    height: auto;
} */

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

ion-icon {
    pointer-events: none;
    --ionicon-stroke-width: 40px;
}

/* ****************************************
**************RESUSED STYLES***************
***************************************** */
.container {
    padding-inline: 1.5rem;
}
h1 {
    font-size: clamp(2.8rem, 1.7800rem + 2.8333vw, 4.5rem);
}
h2 {
    font-size: clamp(2.3rem, 1.6400rem + 1.8333vw, 3.4rem);
}
h3 {
    font-size: clamp(2rem, 1.4000rem + 1.6667vw, 3rem);
}
p {
    font-size: clamp(1.4rem, 1.1000rem + 0.8333vw, 1.8rem);
    color: hsl(217, 9%, 45%);
}

/* ****************************************
************** remove ***************
*******************************************/

.connect {
    display: none;
}

/* ****************************************
************** MOBILE FIRST ***************
*******************************************/

/* ****************************************
************** HEADER ***************
*******************************************/
header {
    padding-block: 1rem;
    box-shadow: 0 2px 3px hsla(0, 0%, 0%, .3);
}
header .container {
    transition: .3s ease-in-out;
    display: flex;
    align-items: center;
    position: relative;
}
.logo-img {
    height: 40;
}
.wallet-details {
    display: flex;
    align-items: center;
    margin-inline-start: auto;

}
.dropdown {
    position: relative;
}
.nav-open,
.wallet {
    padding-inline: 1rem
}
/* .wallets {
    display: none;
    width: 100%;
    position: absolute;
    padding-block-start: 1rem;
    padding-inline: 1rem;
}
.wallets .wallet-links {
    padding-block: 2rem;
    display: block;
    width: 4rem;
    height: 4rem;
}

.wallets .wallet-links .wallet-name {
    display: inline;
}

.wallets img {
    width: 4rem;
    height: 4rem;
}
.dropdown:hover .wallets {
    display: block;
} */

.nav-close,
.nav-open,
.wallet {
    font-size: 3rem;
    transition: .2s ease-in;
    color: hsl(217, 9%, 45%);
}
:is(.nav-close, .nav-open, .wallet):is(:hover, :focus) {
    color: hsla(146, 48%, 17%, 0.96);
}

.nav-bar {
    position: fixed;
    display: block;
    max-width: 25rem;
    width: 70%;
    top: 0;
    right: -25rem;
    height: 100vh;
    padding-inline: 1.5rem;
    z-index: 2;
    background-color: white;
    transition: .3s cubic-bezier(0.4, 0, 1, 1);
}

.nav-bar.active {
    right: 0;
}

.nav-close {
    font-size: 4rem;
    margin-inline-start: auto;
    margin-block: 2rem;
    color: hsl(217, 9%, 45%);
}
.nav-close:hover {
    color: red;
}
.nav-list {
    text-align: center;
}
.nav-list .nav-list-item {
    font-size: 2.5rem;
    font-weight: 500;
    padding-block: 2rem;
    text-transform: uppercase;
    color: hsl(217, 9%, 45%);
    padding-inline: 1rem;
    border-radius: 3rem;
    transition: .2s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}
.nav-list .nav-list-item:hover {
    font-weight: 700;
    transform: translateX(8px);
    color: hsla(146, 48%, 17%, 0.96);
    background-color: hsla(217, 9%, 45%, .15);
}
.overlay {
    position: fixed;
    display: block;
    inset: 0;
    background-color: #010b0176;
    z-index: 1;
        /* return */
    display: none;
}
.overlay.active {
    display: block;
}


/* ****************************************
************** MAIN ***************
*******************************************/
main .container {

    padding-block: 1rem;
}

.main-body {
    gap: 1rem;
}

.hero-main-text {
    text-transform: capitalize;
    color: #021c02f5;
    font-weight: 700;
    line-height: 1.3;
    padding-block: 1rem 1rem;
}
.hero-main-text span {
    text-transform: uppercase;
    color: #25c251;
    font-weight: 700;
}
.hero-text {
    color: hsl(217, 9%, 45%);
    font-weight: 500;
    line-height: 1.7;
    padding-block: .5rem .5rem;
    word-spacing: .3rem;
}
.trade {
    display: flex;
    justify-content: center;
    font-size: clamp(1.6rem, 1.4800rem + 0.3333vw, 1.8rem);
    padding-block: 1rem;
}
.trade-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.trade button {
    padding-block: .5rem;
    padding-inline: .7rem;
    border-radius: 1.5rem;
    background-color: #021c02f1;
    color: white;
}
.trade button a {
    text-transform: capitalize;
}
.trade button:hover {
    background-color: #021c02a4;
}
.stats {
    display: flex;
    justify-content: space-between;
    padding-inline: .5rem;
}

.stat .numbers {
    font-size: clamp(1.6rem, 1.4800rem + 0.3333vw, 1.8rem);
    font-weight: 700;
}
.stat .actions {
    font-size: clamp(1.4rem, 1.2500rem + 0.4167vw, 1.6rem);
}
.hero-image {
    max-width: 100%;
    padding-block: 1rem 0rem;
}
.hero-image img {
    width: 100%;
    height: auto;
    margin-bottom: .5rem;
}



/* ****************************************
************** GUIDE SECTION ***************
*******************************************/
#guide {
    margin-block: 2rem;
}
#guide h2 {
    text-align: center;
    padding-block: 1rem;
}
#guide .container {
    padding-block: 4rem;
    margin-block: .5rem;
}
.guide-sec {
    border: 2px solid #021c0225;
    padding-block: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #25c25101;
    border-radius: 1.5rem;
    position: relative;
    margin-block: 5rem 2rem;
}
.guide-image {
    max-width: 100%;
    max-height: 50rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1rem;
    margin-top: -7rem;
}
.guide-image img {
    width: 10rem;
    height: 10rem;
    border: 2px solid #021c0225;
    border-radius: 50%;
    background-color: #fff;
}
.guide-text {
    color: #021c02f5;
    padding-inline: 1rem;
}
.guide-text h3 {
    font-size: 2rem;
    text-transform: capitalize;
    padding-block: .5rem;
}
.guide-text p {
    line-height: 1.5;
    padding-block: 1rem;
    color: hsl(217, 9%, 45%);
}

/* ****************************************
************** TRENDING SECTION ***************
*******************************************/

.section-heading {
    text-align: center;
    margin-block: 2rem;
}
.trending-paragraph {
    line-height: 1.5;
    margin-block: 1rem;
    text-align: center;
}

.collage-holder {
    width:100%;
    height: auto;
    border: 2px solid #021c0225;
    margin-block: 2rem;
    display: grid;
    /* gap: 5px; */
    margin-block: 2rem 1rem;
    background-color: #25c25121;
    border-radius: 3px;
    border-radius: 10px;
    position: relative;
}
/* .collage img {
    width: 70%;
} */

/* visit */
.trend-holder,
.trend-holder-right,
.author-holder {
    width: 100%;
    height: 100%;

    padding: .2rem;
}
:is(.trend-holder, .trend-holder-right, .author-holder) :is(img){
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.trend-holder {
    grid-area: 1 / 1 / 2/ 2;
}
.trend-holder-right {
    grid-area: 1 / 2 / 2 / 3;
}
.author-holder {
    grid-area: 2 / 1 / 4 / 3;
}
.trend-author {
    position: absolute;
    background-color: #241919da;
    bottom: 5%;
    left: 10%;
    width: 80%;
    border-radius: 10px;
    padding: 5px;
}
.author-det {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.author-pic {
    width: 20%;
    height: 30px;
    display: flex;
    align-items: center;
}
.author-pic > img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: block;

}
.author-data {
    width: 75%;
    padding: .5rem;
}

.author-name {
    color: white;
}
.author-jd {
    
}
.buy-price {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .1rem 1rem;
}
.price, .buy {
    color: white;
    padding: .5rem;
}
.buy {
    background-color: #25c251;
    border-radius: 6px;
}


/* ****************************************
************ INFLUENCER SECTION ***********
*******************************************/
#influencer {
    padding-block: 2rem;
}
#influencer .container {
    padding-block: 3rem;
    margin-block: 1rem;
    gap: 2rem;
}
.section-heading {
    color: 021c02;
}
/* *************CARD STYLES****************/
.card {
    margin-block: 1.5rem;
    padding: .5rem;
    background-color: #03091be1;
    border-radius: 7px;
}

.toppic-holder {
    position: relative;
    background-color: #03091be1;
    overflow: hidden;
    border-radius: 7px;
}
.pic-holder {
    max-width: 100%;
}
.pic-holder img {
    width: 100%;
}
.pic-circle {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    inset: 0;
    top: -50%;
    border-radius: 50%;
    border: 4rem solid hsla(217, 61%, 77%, 0.324);
    transform: scale(2.7);
}

/* BOTTOM PART */

.bottom-container h3 {
    color: hsl(217, 60%, 77%);
    padding-block: 1rem;
    letter-spacing: .15rem;
}
.bottom-container p {
    line-height: 1.3;
    letter-spacing: .12rem;
}

.vol-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 2rem;
    padding-inline: 1rem;
}
.vol-price p {
    font-size: 1.6rem;
    font-weight: bold;
}
.bottom-container p {
    color: hsl(0, 0%, 98%);
}
.volume,
.network {
    display: flex;
    align-items: center;
    justify-content: center;
}
.volume img,
.network img {
    width: 2.5rem;
    height: 2.5rem;
}
.price {
    letter-spacing: .2rem;
}
.hr-line {
    width: 100%;
    height: .2rem;
    background-color: hsl(217, 60%, 77%);
}
.creator,
.bid {
    padding: .5rem;
}
.creator-bid-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.bid {
    display: flex;
    flex-direction: column;
}
.bider,
.creator-img {
    width: 3rem;
    height: 3rem;
    border: 2px solid hsl(217, 60%, 77%);
    border-radius: 50%;
}
.bider img,
.creator-img img {
    width: 100%;
    border-radius: 50%;
}
.biders {
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
}
.bider {
    margin-inline-start: -.5rem;
}


/* ****************************************
************* CREATOR SECTION *************
*******************************************/
#creators {
    padding-block: 2rem;
}
#creators h2{
    text-align: center;
    margin-block: 1rem;
}

.creator-holder {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-block: 2rem;
    border: 2px solid #021c0225;
    background-color: #25c25101;
    margin-block: 1.5rem;
    border-radius: 5px;
}
.creator-holder section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1rem;
}
.creator-pic-holder {
    width: 100%;
}
.creator-pic-holder img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.creator-detail {
    text-align: center;
}
.creator-name {
    font-weight: bold;
    color: black;
    /* font-size: 1.6rem; */
}
.creator-name  + p {
    color: red;
}

/* ****************************************
************* WALLET SECTION *************
*******************************************/
#wallet {
    padding-block: 2rem;
}
#wallet .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
#wallet h3 {
    text-align: center;
    text-transform: uppercase;
    padding-block: 1.5rem;
}
#wallet .container > p {
    text-align: center;
}
.all-wallets {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
    margin-block: auto;
}
.wallet-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    max-width: 150px;
    background-color: white;
    border-radius: 5px;
}
.wallet-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 1rem;
}
.wallet-logo img {
    width: 100%;
}
.wallet-name {
    padding-block: 1rem;
    font-size: 14px;
}

/* ****************************************
************* FOOTER SECTION *************
*******************************************/
footer {
    background-color: #25c25122;
}
.up-foot {
    display: flex;
    flex-direction: column;
}
.foot-logo {
    display: flex;
    align-items: center;
    justify-content: left;
}
.foot-icon {
    width: 30%;
}
.menu-social {
    padding-inline: 1rem;
}
.foot-list {
    margin-block: 2rem;

}
.foot-list-item {
    font-size: clamp(1.6rem, 1.4500rem + 0.4167vw, 1.8rem);
    text-transform: capitalize;
    margin-block: 1rem;

}
.socials {
    display: flex;
    justify-content: space-evenly;
    padding-block: 2rem;
}
.social {
    width: 20%;
}
.social img {
    width: 4rem;
    height: 4rem;
    transition: .2s ease-in-out;
}
.social img:hover {
    transform: scale(1.3);
}
#contact-form {
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
}
#visitors-name, textarea {
    padding: .5rem;
    margin-block: 1rem;
    border-radius: 5px;
    border: 2px solid black;
}
#visitors-name:focus,
textarea:focus {
    border: 1px solid transparent
}
#submit-button {
    font-size: clamp(1.6rem, 1.4500rem + 0.4167vw, 1.8rem);
    letter-spacing: .3rem;
    text-transform: capitalize;
    border-radius: 5px;
    padding: .7rem;
    color: white;
    background-color: #0d1810;
}
.designer {
    padding-inline: 1.5rem;
    padding-block: 1rem;
    background-color: #0d1810;
}
.horiline {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-block: 1rem;
}
.built {
    color: white;
    font-size: clamp(1.6rem, 1.4500rem + 0.4167vw, 1.8rem);
    padding-block: 1rem;
}
.built a {
    text-decoration: underline;
}





/* *************************************************
**************** MEDIA QUERIES ***********************
*************************************************** */

@media only screen and (width > 600px ) {

    
/* ****************************************
************** MAIN SECTION ***************
*******************************************/

    .trade-buttons {
        /* justify-content: left; */
    }

/* ****************************************
************** GUIDE SECTION ***************
*******************************************/
    #guide .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* row-gap: 1rem; */
        /* column-gap: 1rem; */
    }
    .guide-sec {
        width: 30%;
    }

/* ****************************************
************ TRENDING SECTION *************
*******************************************/
    #trending .collage {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .collage-holder {
        width: 30%;
    }

/* ****************************************
*********** INFLUENCER SECTION ************
*******************************************/
    #card .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .card {
        width: 35%;
    }

/* ****************************************
*********** CREATORS SECTION ************
*******************************************/
    #creators .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .creator-holder {
        width: 300px;
    }

/* ****************************************
************* FOOTER SECTION **************
*******************************************/

    footer .container {
        display: flex;
        justify-content: space-between;
    }
    #contact-form,
    .up-foot {
        width: 45%;
        /* border: 1px solid red; */
    }
}


@media only screen and (width > 800px ) {
    .project {
        padding-inline: 3rem;
    }
/* ****************************************
*********** HEADER SECTION ************
*******************************************/


/* ****************************************
*********** MAIN SECTION ************
*******************************************/
    .main-body {
        display: flex;
        justify-content: space-between;
    }
    .main-text-part{
        width: 40%;
    }
    .hero-image {
        width: 50%;
    }
}


@media only screen and (width > 900px ) {

/* ****************************************
************* FOOTER SECTION **************
*******************************************/
    .up-foot {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .foot-logo{
        width: 35%;
        justify-content: center;
    }
    .menu-social  {
        width: 60%;
    }
    .up-foot {
        width: 55%;
    }
    #contact-form {
        width: 35%;
    }
}



@media only screen and (width > 1440px ) {
    
/* ****************************************
************** GUIDE SECTION ***************
*******************************************/
    .guide-sec {
        width: 20%;
        border: 1px solid red;
    }


/* ****************************************
************ TRENDING SECTION *************
*******************************************/
    .collage-holder {
        width: 20%;
        border: 1px solid red;
    }

/* ****************************************
*********** INFLUENCER SECTION ************
*******************************************/
    .card {
        width: 20%;
        border: 1px solid red;
    }
}



@media only screen and (width >= 2000px ) {
    .project {
        width: 2000px;
    }
}